body {
	background-color: #fafafa;
}

/* bootstrap overwrite end */
/* common style start */
input, textarea {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.dropdown-menu, .form-control, .btn, .tooltip-inner { border-radius: 2px; }
.tooltip.top { margin-top: 2px; }
.dropdown { max-width: 160px; margin: 0 auto; } 
.bc-white   {background-color: #fff;}
.bc-default {background-color: #3da8f5;}
.bc-success {background-color: #00a854;}
.bc-error   {background-color: #ff4f3e;}
.bc-warning {background-color: #ffaf38;}
.bc-normal  {background-color: #a6a6a6;}
.not-actived { opacity: .5; }
/* common style end */

/* notification style start */
.notifications-container {
  position: absolute;
  z-index: 1100;
  transition: .2s;
}
.notifications-container-bottomLeft {
  left: 0px;
  top: auto;
  bottom: 24px;
  margin-left: 24px;
}
.notification {
  position: relative;
  margin-top: 10px;
  line-height: 24px;
  font-size: 16px;
  padding: 12px;
  width: 300px;
  opacity: 0;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 1px 2px 2px rgba(0,0,0,.2);
  -webkit-animation-name: show;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
  animation-name: show;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  transition: all .2s;
}
@-webkit-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }  
}
.notification-error, .notification-success, .notification-normal, .notification-warning {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.notification-error {background-color: #ff4f3e;}
.notification-success {background-color: #00a854;}
.notification-normal {background-color: #a6a6a6;}
.notification-warning {background-color: #ffaf38;}

/* notification style end */

/* modal-dialog start */
.modal-body input, .modal-body textarea {
  /*outline: none;
  border: none !important;*/
  max-width: 567px;
}
.modal-body input:hover, .modal-body textarea:hover, .modal-body input:focus, .modal-body textarea:focus {
  /*background-color: rgba(0,0,0,.05);*/
}
.modal-content {border-radius: 3px;}
.modal-body .date > input {
  border: 1px solid transparent;
  cursor: pointer;
  text-align: center;
  background-color: #f8f8f8;
}
.modal-body .date > input:hover {
  color: #3DA8F5;
}
.modal-body .form-group {
  border-right: 1px solid #ddd;
}
.modal-body .form-group .error-input {
  border: 1px solid #ff4f3e;
}
.modal-body .form-group.right-col {border-right: 0;}
.modal-body .form-group .dropdown {
  text-align: center;
}
.modal-body label {
  display: block;
  line-height: 34px;
  margin-bottom: 0px;
  float: left;
  font-weight: normal;
  width: 100%;
  text-align: center;
}
.modal-body .dropdown button.dropdown-toggle {
  background: none;
  border: 0px;
  line-height: 32px;
}
.modal-body .dropdown button.dropdown-toggle:hover {
  color: #3DA8F5 !important;
}
.modal-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 540px;
}
/* modal-dialog end */

.priority-0 {
  background-color: #a6a6a6;
}
.priority-1 {
  background-color: #ffaf38;
}
.priority-2 {
  background-color: #ff4f3e;
}

/* project start */
#project-list {
  margin-top: 20px;
}
.project-toolbar {
  margin-top: 20px;
  padding: 0 15px;
}
#project-list .thumbnail {
  padding: 0;
  border: 0;
  border-radius: 0;
  transition: all 0.2s;
  cursor: pointer;
  margin-top: 10px;
  height: 400px;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
#project-list .thumbnail:hover {
  box-shadow: 0 7px 21px rgba(0,0,0,.15);
  -webkit-transform: translate3d(0,-6px,0);
  transform: translate3d(0,-6px,0);
  transition: all 0.2s;  
}
#project-list .thumbnail>img {
  width: 100%;
}
#project-list .thumbnail .caption {
  height: 180px;
}
#project-list .thumbnail .caption p {
  display: block;
  display: -webkit-box;
  height: 95px; /* =line-height*font-size*line-to-show */
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5; /*line-to-show*/
  -webkit-box-orient: vertical;
}
/* project end */

/* common navbar start */
.app-navbar {
  margin-bottom: 3px;
  border: 0;
  border-radius: 0;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.5);
}
.project-nav {
  background-color: #f1f1f1;
  line-height: 40px;
  text-align: center;
  margin-top: -3px;
}
.project-nav ul li.nav-item {
  display: inline-block;
}
.project-nav ul .nav-link {
  padding: .5em 3em;
}
.taskboard {
  margin-top: 10px;
}
.project-nav a.active-projectnav {
  background-color: #fafafa;
}
.project-nav a.nav-link.active-projectnav:hover {
  background-color: #fafafa;
}
.project-nav a.nav-link:hover {
  background-color: #eee;
}
/* common navbar end */

/* toolbar start */
.toolbar {
  margin-bottom: 10px;
  width: 100%;
}
.toolbar-btn {
  float: left;
  margin-right: 10px;
}
.toolbar-search .dropdown {
  float: left;
}
.priority-btn-group button.btn {
  height: 7px;
  width: 7px;
  margin: 6px 12px 6px 0;
  border-radius: 2px;
  box-sizing: content-box;
}
#taskAttrDropdown {
  background: none;
  border: 1px solid #ccc;
  border-right: 0;
  line-height: 32px;
  background-color: #fff;
  padding: 0 25px 0 5px;
  width: 65px;
  box-sizing: content-box;
}
#taskAttrDropdown i {
  position: absolute;
  top: 9px;
  right: 5px;
  color: #999;

}
/* toolbar end */

/* task modal-dialog start */
.executor-row > label, .tag-row > label {
  float: none;
}
.executor-row > ul.executor-list, .tag-row > ul.tag-list {padding: 0 15px;}
.executor-list > li, .task-tags > li, .tag-list > li {
  position: relative;
  float: left;
  list-style-type: none;
  margin: 0 10px 5px 0;
}
.executor-list > li > a, .task-tags > li > a, .tag-list > li > a  {
  display: block;
  position: relative;
  background-color: #f1f8ff;
  color: #0366d6;
  text-decoration: none;
  padding: 4px 8px 4px 32px;
  cursor: pointer;
  border-radius: 2px;
  line-height: 20px;
  transition: all 0.2s;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tag-list > li > a {
  padding: 4px 8px;
  color: #555;
  background-color: #e1e1e1;
}
.executor-list > li > a > img, .tag-list > li > a > img {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 2px;
  left: 2px;
}
.executor-list > li > .remove-label, .tag-list > li > .remove-label {
  position: absolute;
  line-height: 24px;
  padding-left: 6px;
  top: 2px;
  right: 6px;
  z-index: 0;
  opacity: 0;
  color: #0366d6;
  background-color: #f1f8ff;
  transition: all 0.2s;
  cursor: pointer;
}
.tag-list > li > .remove-label {
  color: #555;
  background-color: #e1e1e1;
}
.executor-list li.removable:hover .remove-label, .tag-list li.removable:hover .remove-label {
  opacity: 1;
  z-index: 2;
}
.executor-list > li > a.new-executor, .tag-list > li > a.new-tag {
  padding-left: 8px;
  top: 0;
}
.dd {
  position: absolute;
  margin-top: 4px;
  padding: 4px 0 8px 0;
  background-color: #fff;
  left: -85px;
  max-width: 200px;
  border-radius: 2px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  z-index: 99;
}
.dd > .dd-input {
  padding: 4px 12px 8px;
  min-width: 200px;
  border-bottom: 1px solid #eee;
}
.dd > .dd-input > input {
  display: inline-block;
}
#tagDropdown-newTask > .dd > .dd-input > input, #tagDropdown-editTask > .dd > .dd-input > input {
  max-width: 130px;
}
.dd > .dd-input > .add-label {
  background: none;
  border: 0;
  padding: 0;
  margin-left: 14px;
  color: #555;
  outline: 0;
}
ul.dd-menu {
  padding-left: 0;
  list-style-type: none;
  max-height: 220px;
  overflow-y: auto;
}
.modal-body::-webkit-scrollbar-track, ul.dd-menu::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #fff;
  border-radius: 2px;
}
.modal-body::-webkit-scrollbar, ul.dd-menu::-webkit-scrollbar{
  width: 4px;
  background-color: #fff;
}
.modal-body::-webkit-scrollbar-thumb, ul.dd-menu::-webkit-scrollbar-thumb{
  background-color: #9E9E9E;
  border-radius: 2px;
}
ul.dd-menu > li > a.dd-list-item {
  display: block;
  position: relative;
  line-height: 32px;
  padding: 6px 32px 6px 48px;
  text-decoration: none;
  color: #0366d6;
  max-width: 220px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
ul.dd-menu > li > a.dd-list-item:hover {
  background-color: #f1f8ff;
}
.tag-list ul.dd-menu > li > a.dd-list-item {
  padding: 6px 32px 6px 12px;
}
a.dd-list-item img {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 6px;
    left: 6px;
}
a.dd-list-item i {
  position: absolute;
  right: 13px;
  top: 16px;
}
/* task modal-dialog end */

/* tasklist modal-dialog start */

/* tasklist modal-dialog end */

/* tasklist start */
.tasklist-box .toolbar-btn:nth-child(2){
  margin-right: 0;
  width: 226px;
}
.list-group-item:first-child, .list-group-item:last-child{border-radius: 0;}
.tasklist {
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
  margin-bottom: 5px;
}
.tasklist .tasklist-priority, .task .task-priority {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  transition: all 0.2s;
}
.tasklist:hover .tasklist-priority, .task:hover .task-priority {
  transition: all 0.2s;
  width: 6px;
}
.current-tasklist .tasklist-priority {
  width: 6px;
}
.tasklist .tasklist-options {
  position: absolute;
  right: 10px;
  top: 5px;
}
.tasklist .tasklist-options .dropdown button{
  background: none;
  border: 0;
}
.tasklist > .tasklist-attr {
  margin-bottom: 10px;
}
.tasklist > .tasklist-attr span{
  display: block;
  float: left;
  margin-right: 15px;
  padding: 0 6px;
  color: #fff;
  border-radius: 2px;
}
.tasklist .tasklist-tools {
  position: absolute;
  top: 3px;
  right: 0px;
  width: 30px;
  height: 34px;
  color: #a6a6a6;
  display: flex;
  justify-content: center;
}
.tasklist .tasklist-tools .dropdown {
  display: flex;
  align-items: center;
}
.tasklist .tasklist-tools .dropdown button.dropdown-toggle {
  background: none;
  border: 0;
}
.tasklist .tasklist-tools .dropdown .dropdown-menu {
  left: -140px;
  text-align: right;
}
.tasklist-footer {
  background-color: #f5f5f5;
  border-top: 1px solid #eee;
  display: block;
  padding: 4px 15px;
  margin: 0 -15px -10px;
}
/* tasklist end */

/* task start  */
.task-box {padding: 0;}
.task-container {
  background-color: #eeeeee;
  border-radius: 3px;
  padding: 10px;
  min-height: 74px;
}
.task {
  position: relative;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0,0,0,.1);
  cursor: pointer;
  transition: all .2s;
}
.task:last-child {margin-bottom: 0;}
.task-container .done {
  background-color: #f7f7f7;
  box-shadow: none;
  transition: all .2s;
}
.task .check-box {
  display: block;
  float: left;
  margin: 15px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border: 2px solid #999;
  border-radius: 3px;
  box-sizing: content-box;
  color: #555;
}
.task .check-box span {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.task .task-content {
  position: relative;
  margin: 0 60px 0 54px;
}
.task .task-content .task-basic {
  padding: 15px 0;
  line-height: 24px;
  height: 54px;
  margin: 0;
}
.task .task-content .task-basic p {
  display: inline-block;
  line-height: 24px;
  margin-top: 1px;
  font-size: 16px;
  margin-bottom: 0;
  max-width: 380px;
  white-space: nowrap;
  padding-left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.task-basic .task-attr {
  float: right;
  border-left: 1px solid #ddd;
}
.task-basic .task-attr span {
  display: block;
  float: left;
  margin-left: 15px;
  padding: 0 6px;
  color: #fff;
  border-radius: 2px;
  background-color: #3da8f5;
}
.task-basic .task-attr span.delay {
  background-color: #ff4f3e;
}  
.task .task-content .task-info {
  padding-bottom: 10px;
  line-height: 24px;
}
.project-tools, .task .task-tools {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 34px;
  color: #a6a6a6;
  display: flex;
  justify-content: center;
}
.project-tools {
  top: 180px;
  right: 0px;
}
.project-tools .dropdown, .task .task-tools .dropdown {
  display: flex;
  align-items: center;
}
.project-tools .dropdown button.dropdown-toggle, .task .task-tools .dropdown button.dropdown-toggle {
  background: none;
  border: 0;
}
.task-tags {
  margin-bottom: 0;
  padding-left: 0;
}
.task-tags > li {
  float: left;
  margin-right: 15px;
  color: #808080;
  line-height: 18px;
  border-radius: 2px;
  background-color: #e1e1e1;
}
.task-tags > li > span {
  position: relative;
  font-size: 12px;
  padding: 0 6px 0 18px;
}
.task-tags > li > span > span.tag-dot {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 3px;
  left: 6px;
  border-radius: 3px;
  background-color: #3da8f5;
}
/* task end */


/* group chat start */
.chatroom {
  position: fixed;
  top: 115px;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 970px;
  background-color: #fff;
  border-radius: 3px;
  padding: 0;
}
.chatroom-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.chatroom-wrapper .chatroom-head {
  background-color: #f1f8ff;
  border-bottom: 1px solid #c8e1ff;
  height: 47px;
}
.chatroom-wrapper .chatroom-head .online-userlist {
  float: left;
  display: inline-block;
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  height: 47px;
  max-width: 650px;
  /*background-color: #f1f8ff;*/
  /*border-bottom: 1px solid #c8e1ff;*/
  overflow: hidden;
}
.online-user-title, .online-userlist-item {
  float: left;
  height: 46px;
  line-height: 46px;
  border-radius: 3px;
}
.online-user-title span, .online-userlist-item span.user-square {
  line-height: 34px;
  display: block;
  height: 46px;
  padding: 6px 0 6px 12px;
}
.online-userlist-item span.user-square {
  width: 46px;

}
.online-userlist-item span.user-square img {
  width: 100%; 
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
}
.chatroom-wrapper .chatroom-head .chatroom-tools {
  line-height: 34px;
}
.chatroom-wrapper .message-content-box {
  display: flex;
  overflow: auto;
  height: 100%;
}
.chatroom-wrapper .message-content-box::-webkit-scrollbar-track {
  background-color: #eee;
  border-radius: 4px;
}
.chatroom-wrapper .message-content-box::-webkit-scrollbar {
  width: 8px;
  background-color: #fff;
}
.chatroom-wrapper .message-content-box::-webkit-scrollbar-thumb {
  background-color: #9E9E9E;
  border-radius: 4px;
}
.chatroom-wrapper .message-content-box .message-list {
  list-style-type: none;
  padding: 10px 10px;
  width: 100%;
  margin-bottom: 0;
}
.message-content-box .message-list .message-list-item {
}
.message-list-item .message-body {
  max-width: 80%;
  float: left;
}
.message-list-item .message-body .message-info {
  padding: 3px 6px 3px 44px;
}
.message-list-item .message-body.self-msg {
  float: right;
}
.message-list-item .message-body.self-msg .message-info {
  text-align: right;
  padding: 3px 44px 3px 6px;
}
.message-info .message-info-time {
  color: #A6A6A6;
}
.user-avatar {
  float: left;
  margin: 0 10px 0 0;
  height: 34px;
  line-height: 34px;
  width: 34px;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
}
.user-avatar img {width: 100%; height: 100%; border-radius: 3px;}
.message-list-item .message-body.self-msg .user-avatar {
  float: right;
  margin: 0 0 0 10px;
}
.message-content {
  word-break: break-word;
  font-size: 16px;
  padding: 6px 12px;
  margin: 0 44px;
  background-color: #fff8dc;
  border-radius: 3px;
}
.self-msg .message-content {
  background-color: #e0eaf1;
}
.message-content p {
  margin: 0;
}
.chatroom-footer {
  padding: 10px 10px;
  background-color: #ddd;
}
.sendmsg-btn {
  width: 110px;
  height: 33px;
  line-height: 33px;
  float: right;
  position: relative;
  border-radius: 3px;
  color: #fff;
}
.sendmsg-btn .dropdown {
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
  height: 33px;
}
.sendmsg-btn .dropdown .dropdown-toggle {
  height: 33px;
  line-height: 33px;
  width: 25px;
  background: none;
  border: 0;
  border-left: 1px solid #fff;
}
.sendmsg-btn .dropdown .dropdown-menu {
  bottom: 36px;
  top: -66px;
}
.sendmsg-send {
  line-height: 33px;
  text-align: center;
  height: 33px;
  display: block;
  width: 85px;
  cursor: pointer;
}
.msg-input-area {
  margin-right: 120px;
  margin-left: 90px;
}
.msg-input-area textarea {
  max-width: 740px;
  max-height: 200px;
}
/*.input-file, .input-emoji {
  width: 30px;
  height: 30px;
}*/
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile-label {
  width: 30px;
  height: 30px;
  float: left;
}
.sendmsg-sendfile {
  float: left;
}
.sendmsg-sendfile .fileInputDiv {
  float: left;
}
.inputfile-label {
  width: 33px;
  height: 33px;
  text-align: center;
  line-height: 33px;
  float: left;
  margin: 0px 10px 0 0px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  top: 0;
}
.imageMessage {
  margin: 0 -6px;
  max-width: 300px;
}
.imageMessage img {
  width: 100%;
  cursor: pointer;
}
/* group chat end */