body {
	background-color: #fafafa;
}
#project-list .thumbnail {
  padding: 0;
  border: 0;
  border-radius: 0;
  transition: all 0.2s;
  cursor: pointer;
  margin-top: 30px;
  height: 400px;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
#project-list .thumbnail:hover {
  box-shadow: 0 7px 21px rgba(0,0,0,.15);
  -webkit-transform: translate3d(0,-6px,0);
  transform: translate3d(0,-6px,0);
  transition: all 0.2s;  
}
#project-list .thumbnail>img {
  width: 100%;
}
#project-list .thumbnail .caption {
  height: 180px;
}
#project-list .thumbnail .caption p {
  display: block;
  display: -webkit-box;
  height: 95px; /* =line-height*font-size*line-to-show */
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5; /*line-to-show*/
  -webkit-box-orient: vertical;
}
.app-navbar {
  margin-bottom: 3px;
  border: 0;
  border-radius: 0;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.5);
}
.project-nav {
  background-color: #eee;
  line-height: 40px;
  text-align: center;
  margin-top: -3px;
}
.project-nav ul li.nav-item {
  display: inline-block;
}
.project-nav ul .nav-link {
  padding: .5em 3em;
}
.taskboard {
  margin-top: 10px;
}
.project-nav a.active-projectnav {
  background-color: #fafafa;
}
.project-nav a.nav-link.active-projectnav:hover {
  background-color: #fafafa;
}
.project-nav a.nav-link:hover {
  background-color: #eee;
}
.list-group-item:first-child, .list-group-item:last-child{border-radius: 0;}
.tasklist {
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
  margin-bottom: 5px;
}
.tasklist .tasklist-priority {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  transition: all 0.2s;
}
.priority-0 {
  background-color: #ddd;
}
.priority-1 {
  background-color: #ffaf38;
}
.priority-2 {
  background-color: #ff4f3e;
}
.tasklist:hover .tasklist-priority{
  transition: all 0.2s;
  width: 6px;
}
.tasklist.active .tasklist-priority {
  width: 6px;
}
.tasklist .tasklist-options {
  position: absolute;
  right: 10px;
  top: 5px;
}
.tasklist .tasklist-options .dropdown button{
  background: none;
  border: 0;
}
.tasklist > label {
  margin-right: 20px;
}
.label-wrapper {
  padding: 10px 0;
}
.label-wrapper span {
  margin: 6px 12px 0 0;
}
.tasklist-footer {
  background-color: #f5f5f5;
  border-top: 1px solid #eee;
  display: block;
  padding: 4px 15px;
  margin: 0 -15px -10px;
}