/* bootstrap overwrite start */
a {
  color: #3DA8F5;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #0c92f3;
  text-decoration: none;
}
p {
  margin: 0;
}
.btn-primary, .btn-primary:focus, .btn-primary:active, .btn-primary:hover, .btn-primary:visited, .btn-primary:active:hover, .btn-primary:active:focus {color: #fff;}
.btn-primary {
  background-color: #3DA8F5;
  border-color: #3DA8F5;
}
.btn-primary:focus, .btn-primary:active:focus {
  background-color: #3DA8F5;
  border-color: #3DA8F5;
}
.btn-primary:active, .btn-primary:visited {
  background-color: #348fd0;
  border-color: #348fd0;
}
.btn-primary:hover {
  background-color: #5ab5f7;
  border-color: #5ab5f7;
}
.btn-primary:active:hover {
  background-color: #5ab5f7;
  border-color: #5ab5f7;
}
.btn-danger, .btn-danger:focus {
  background-color: #FF4F3E;
  border-color: #FF4F3E;
  color: #FFFFFF;
}
.btn-danger:hover {
  background-color: #ff695b;
  border-color: #ff695b;
  color: #FFFFFF;
}
.btn-danger:active {
  background-color: #d94335;
  border-color: #d94335;
  color: #FFFFFF;
}
.btn-danger:active:focus{
  background-color: #d94335;
  border-color: #d94335;
  color: #FFFFFF;
}
.btn:focus, .btn:active:focus {
  outline: 0;
}
.btn:active {
  -webkit-box-shadow: none; 
  box-shadow: none; 
}